################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EVENT MANAGEMENT/v15/Server/sqlite3
/packages
